<h2>Gestió de personal</h2>
<div>
  <p id="personalFeedback" class="hide msgFeedback"></p>
</div>
<div class="margin-left">
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <mat-card class="mat-elevation-z24">
    <form [formGroup]="filterForm" fxLayout="column">        
      <div fxLayout="row">
        <mat-form-field appearance="fill">
          <mat-label>Document</mat-label>
          <input matInput autocomplete="off" type="text" [formControl]="document" />
        </mat-form-field>
        <button
          *ngIf="canSelect"
          mat-icon-button
          matSuffix
          (click)="filterByDocument()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="fill">
            <mat-label>Codi entitat</mat-label>
            <input matInput autocomplete="off" type="text" [formControl]="codienti" />
        </mat-form-field>    
        <mat-form-field appearance="fill">
          <mat-label>Codi empleat</mat-label>
          <input matInput autocomplete="off" type="text" [formControl]="codiempl" />
        </mat-form-field>
        <button
          *ngIf="canSelect"
          mat-icon-button
          matSuffix
          (click)="filterByCodi()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="fill">
            <mat-label>Llinatge 1</mat-label>
            <input matInput autocomplete="off" type="text" [formControl]="apellid1" />
        </mat-form-field>    
        <mat-form-field appearance="fill">
          <mat-label>Llinatge 2</mat-label>
          <input matInput autocomplete="off" type="text" [formControl]="apellid2" />
        </mat-form-field>
        <button
          *ngIf="canSelect"
          mat-icon-button
          matSuffix
          (click)="filterByNom()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <mat-progress-bar *ngIf="isSearching" mode="indeterminate"></mat-progress-bar>    
    </form>   
  </mat-card>
  </div>
  <div class="searchResult" *ngIf="hasData()">
    <div>
      <table *ngIf="!isMobile" mat-table [dataSource]="llistaPersonal">
        <ng-container matColumnDef="codi">
          <th mat-header-cell *matHeaderCellDef>CODI</th>
          <td mat-cell *matCellDef="let personal">
            {{ personal.id.codienti }} / {{ personal.id.codiempl }}
          </td>
        </ng-container>
        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef>DOCUMENT</th>
          <td mat-cell *matCellDef="let personal">
            {{ personal.ndniempl }}{{ personal.ddniempl }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>NOM</th>
          <td mat-cell *matCellDef="let personal">{{ personal.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="apellid1">
          <th mat-header-cell *matHeaderCellDef>LLINATGE 1</th>
          <td mat-cell *matCellDef="let personal">
            {{personal.apellid1}}
          </td>
        </ng-container>
          <ng-container matColumnDef="apellid2">
            <th mat-header-cell *matHeaderCellDef>LLINATGE2</th>
            <td mat-cell *matCellDef="let personal">
              {{personal.apellid2}}
            </td>
          </ng-container>          
          <ng-container matColumnDef="codiempl">
            <th mat-header-cell *matHeaderCellDef>CODI</th>
            <td mat-cell *matCellDef="let personal">
              {{personal.id.codiempl}}
            </td>
          </ng-container>          
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="action_cell" mat-cell *matCellDef="let personal">
            <button
              *ngIf="canUpdate"
              mat-mini-fab
              color="accent"
              (click)="updatePersonal(personal)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="personalDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: personalDisplayedColumns"></tr>
      </table>
      <div *ngIf="isMobile">
        <div class="acta-data" *ngFor="let personal of llistaPersonal">
          <div class="acta-item">
            <div class="acta-item-label">Document:</div>
            <div class="acta-item-content">{{ personal.ndniempl }}{{ personal.ddniempl }}</div>
          </div>
          <div class="acta-item">
            <div class="acta-item-label">Nom:</div>
            <div class="acta-item-content">{{ personal.nombre }}</div>
          </div>
          <div class="acta-item">
            <div class="acta-item-label">Llinatge1:</div>
            <div class="acta-item-content">{{personal.apellid1}}</div>
          </div>
          <div class="acta-item">
            <div class="acta-item-label">Llinatge2:</div>
            <div class="acta-item-content">{{personal.apellid2}}</div>
          </div>
          <div class="acta-item">
            <div class="acta-item-label">Codi:</div>
            <div class="acta-item-content">{{personal.id.codiempl}}</div>
          </div>
          <div class="acta-buttons">
            <button
              *ngIf="canUpdate"
              mat-mini-fab
              color="accent"
              (click)="updatePersonal(personal)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
